.gameTitle {
    padding: 0 20px;
    letter-spacing: 2;
    font-weight: 400;
}

.row {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    margin-top: 8px;
}

.scoreText {
    font-weight: 400;
    padding: 6px;
}