{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Game Service</title>
    <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <div class="page-header">
        <h1 class="title"><a href="/">Game Service</a></h1>
            {% if user.is_authenticated %}
            <div class="navElement">
                Hello, {{user.get_username}}
            </div>
            {% endif %}
            {% if perms.gameservice.can_edit_games %}
            <a class="navElement" href="/developer"> Developer view </a>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="navElement">
                <a href="/profile"> Personal highscores and profile</a>
            </div>
            <a class="navElement" href="/logout"> Log out </a>
            {% endif %}

    </div>
    <div class="container">
        <div class="background"></div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>