{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col gameBlock">
        <h2 class="title">{{game.title}} - Sales History</h2>
        <table class="table table-striped table-hover">
            <tr>
                <th>Date</th>
                <th>Purchaser</th>
                <th>Price</th>
            </tr>
            {% for row in purchases %}
            <tr>
                <td>{{ row.created_at }}</td>
                <td>{{ row.user }} </td>
                <td>{{row.price}} €</td>
            </tr>
            {% endfor %}
            <tr style="border-top: 2px solid black">
                <th>SUM</td>
                <th>
                    </td>
                <th> {{total.monetary}} €</td>
        </table>
    </div>
</div>
{% endblock %}