{% extends 'base.html' %}

{% load static %}
{% block content %}
{% csrf_token %}
<div class="row">
    <div class="col gameBlock" style="margin: 0 20px;">
        <h1 class="title">{{game.title}}</h1>
        <iframe src={{game.url}} id="iframe" name="iframe"></iframe>
    </div>
    <div class="col gameBlock" style="margin-top: 0;">
        <h3 class="title" style="letter-spacing: 0; padding-right: 16px;">High scores:</h3>
        <table id="scores" name="scores[]">
            {% for score in scores %}
            <tr>
                <th class="scoreText">{{score.player}}: </th>
                <th class="scoreText">{{score.score}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script>
    var user = {{ user.pk }}
</script>
<script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
{% endblock %}