{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="contentBlock">
    <div class="row">
        <h1 class="title">My Games</h1>
        <table class="table table-striped table-hover table-responsive-md">
            <tr>
                <th>Title</th>
                <th>Developer</th>
                <th>Categories</th>
                <th>Play</th>
            </tr>
            {% for game in mygames %}
            <tr>
                <td>{{ game.game.title }}</td>
                <td>{{ game.game.developer }}</td>
                <td>{{game.game.categories.all|join:", "}}</td>
                <td>
                    <a href="{% url 'game' game.game.pk %}"><button>Play</button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<span class="contentBlock">

    <div class="row">

        <div class="search-options searchGrid">
            <h1 class="title search">Search games</h1>
            <form type="get" action="." style="margin: 0px;" class="SearchForm">

                <input id="search" type="text" name="search" value="{{query}}" placeholder="Search...">
                <div class="customSelect">
                    <select id="categories" name="categories[]" multiple="multiple">
                        {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                        {% endfor %}

                    </select>
                </div>
                <button id="search_submit" type="submit">Submit</button>

            </form>
        </div>

    </div>

    <div class="row mt-4">

        {% if searched %}
        {% if results %}
        <table class="table table-striped table-hover table-responsive-md">
            <tr>
                <th>Title</th>
                <th>Developer</th>
                <th>Price</th>
                <th>Categories</th>
                <th>Purchase</th>
            </tr>
            {% for game in results %}
            <tr>
                <td>{{ game.title }}</td>
                <td>{{ game.developer }}</td>
                <td>{{ game.price }} €</td>
                <td>{{game.categories.all|join:", "}}</td>
                <td>
                    {% if game.owned %}
                    Already owned
                    {% else %}
                    <a href="{% url 'purchaseconfirmation' game.pk %}"><button>Purchase</button></a>
                    {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p> No results</p>
        {% endif %}
        {% endif %}
    </div>

</span>
<script type="text/javascript" src="{% static 'js/lib/bootstrap-multiselect.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/lib/bootstrap-multiselect.css' %}" type="text/css" />
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var values = {{selected_categories|safe}}
        $('#categories').multiselect({
            nonSelectedText: 'Filter by category',
            buttonWidth: "200px",
        }).multiselect('select', values);
    });
    var purchaseTitle = function (event, pk) {
        location.replace("/purchase/" + pk)

    }

</script>
{% endblock %}